* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
    color: black;
}

/*CABEÇALHO*/

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/**Logo**/
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 80px;
    height: auto;
}
.logo h1 {
    font-size: 24px;
    font-weight: 500;
    margin-left: 14px;
}

/**Menu**/
.menu {
    display: flex;
    align-items: center;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu a {
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 24px;
}
.menu .active a,
.menu a:hover {
    background-color: #d6dcde;
}

/*FOTO DE FUNDO*/

#img-fundo {
    background-image: url(../images/fundo2.jpg);
    background-size: cover;
    min-width: 100%;
    height: 100vh;
}

/*SOBRE O TEMA*/

#container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 90%;
    margin: auto;
    margin-top: 60px;
}
.img {
    flex: 1;
    text-align: center;
}
.img img {
    max-width: 524px;
    max-height: 350px;
    object-fit: cover;
}
.content {
    flex: 1;
    padding: 50px;
}
.content h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.content p {
    font-size: 19px;
    line-height: 1.5;
}

/*CARDS*/

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card {
    width: 370px;
    background-color: #fefafa;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0.5px rgb(0, 0, 0, 0.2);
    margin: 30px;
    transition: 1s all linear;
}
.card:hover {
    transform: translateY(-30px);
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content {
    padding: 16px;
}
.card-content h2 {
    font-size: 26px;
    margin-bottom: 8px;
}
.card-content p {
    font-size: 16px;
}

/*sOBRE O PROJETO*/

/**Cor de fundo**/
.color-bg {
    background-color: black;
}

#container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.img-grupo {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.img-grupo img {
    width: 500px;
    max-height: 370px;
    object-fit: cover;
}
#container2 .content {
    flex: 1;
}
.content h2 {
    font-size: 42px;
    margin-bottom: 20px;
}
.content p {
    font-size: 23px;
    line-height: 1.5;
}
.color-text {
    color: white;
}

/*AÇÕES*/ 

.actions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 40px;
    gap: 40px;
}
.actions {
    width: 370px;
    background-color: #fefafa;
    border-radius: 14px;
    box-shadow: 0px 0px 5px 0.5px rgb(0, 0, 0, 0.2);    
    overflow: hidden;
    transition: 1s all linear;
    margin: 30px;
}
.actions:hover {
    transform: translateY(-30px);
}
.actions img {
    width: 100%;
    height: 246px;
    object-fit: cover;
}
.actions-content {
    padding: 16px;
}
.actions-content h2 {
    font-size: 26px;
    margin-bottom: 12px;
}
.actions-content p {
    font-size: 16px;
}

/*RODAPÉ*/

footer {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.footer--social,
.footer--logos {
    display: flex;
    flex: 1;
}
.footer--social {
    flex-direction: column;
    color: #fefafa;
}
.infos {
    font-weight: 500;
    margin-top: 40px;
}
.footer--logos {
    align-items: center;
    justify-content: flex-end;
}
.footer--logos img {
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
}
.footer--logos .logo--escola {
    width: 200px;
    height: 73px;
}


/*RESPONSIVIDADE*/

@media (min-width: 768px) and (max-width: 900px) {
    header {
        min-width: 100%;
    }
    .logo img {
        width: 80px;
    }
    .logo h1 {
        font-size: 20px;
    }
    .menu {
        display: none;
    }
    #container {
        flex-direction: column;
        margin-top: 30px;
    }
    .img {
        flex: 0 100%;
    }
    .content {
        flex: 0 100%;
        max-width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    .content h2 {
        font-size: 44px;
    }
    .content p {
        font-size: 25px;
        text-align: left;
    }
    .card:hover {
        transform: none;
    }
    #container2 {
        flex-direction: column;
    }
    .img-grupo {
        flex: 0 100%;
        margin: 0;
        margin-top: 30px;
    }
    .img-grupo img {
        max-width: 280px;
        max-height: 210px;
    }
    #container2 .content {
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        margin-top: 20px;
    }    
    .actions:hover {
        transform: none;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    header {
        min-width: 100%;
        height: 80px;
    }
    .logo img {
        width: 67px;
    }
    .logo h1 {
        font-size: 20px;
    }
    .menu {
        display: none;
    }
    #container {
        flex-direction: column;
        margin-top: 30px;
    }
    .img {
        flex: 0 100%;
    }
    .img img {
        max-width: 390px;
        max-height: 260px;
    }
    .content {
        flex: 0 100%;
        max-width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    .content h2 {
        font-size: 32px;
    }
    .content p {
        font-size: 20px;
        text-align: left;
    }
    .card:hover {
        transform: none;
     }
    #container2 {
        flex-direction: column;
    }
    .img-grupo {
        flex: 0 100%;
        margin: 0;
        margin-top: 30px;
    }
    .img-grupo img {
        max-width: 400px;
        max-height: 300px;
    }
    #container2 .content {
        padding: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .actions-container {
        margin-top: 40px;
    }
    .actions:hover {
        transform: none;
    }
    footer {
        margin-top: 40px;
    }
    .footer {
        flex-direction: column;
    }
    .footer--logos {
        margin-top: 30px;
    }
}

/**/
@media (max-width: 390px) {
    #img-fundo {
        max-height: 100vh;
    }
    header {
        min-width: 100%;
        height: 80px;
    }
    .logo img {
        width: 50px;
    }
    .logo h1 {
        font-size: 15px;
    }
    .menu {
        display: none;
    }
    #container {
        flex-direction: column;
        margin-top: 30px;
    }
    .img {
        flex: 0 100%;
    }
    .img img {
        max-width: 290px;
        max-height: 194px;
    }
    .content {
        flex: 0 100%;
        max-width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    .content h2 {
        font-size: 27px;
    }
    .content p {
        font-size: 17px;
        text-align: left;
    }
    .card:hover {
       transform: none;
    }
    .card-container {
        margin-top: 20px;
    }
    #container2 {
        flex-direction: column;
    }
    .img-grupo {
        flex: 0 100%;
        margin: 0;
        margin-top: 30px;
    }
    .img-grupo img {
        max-width: 280px;
        max-height: 210px;
    }
    #container2 .content {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0;
    }
    .actions-container {
        margin-top: 20px;
        gap: 0;
    }
    .actions img {
        height: 210px;
        object-fit: cover;
    }
    .actions-content p,
    .card-content p {
        font-size: 14px;
    }
    .actions:hover {
        transform: none;
    }
    footer {
        margin-top: 40px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 12px;
    }
    .footer--logos {
        margin-top: 30px;
    }
    .footer--logos img{
        width: 30%;
        margin: 0 8px;
    }
}